
.tt-accsituation {
    border-radius: 10px;
    margin-bottom: 10px;
}

.tt-accsituation--operation {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: center;
    padding: 10px;
}


.el-button--primary { 
  background: #1890FF !important;
  border-color: #1890FF !important;
}
.el-button--primary:hover {
  background: #1890FF !important;
  border-color: #1890FF !important;
  color: #FFF !important;
  opacity: 0.8;
}
.el-button--default { 
  background: #fff !important;
  border-color: #1890FF !important;
  color: #1890FF !important;
}
.el-button--default:hover {
  background: #fff !important;
  border-color: #1890FF !important;
  color: #1890FF !important;
  opacity: 0.8;
}