
.tt-accsituation {
    border-radius: 10px;
    margin-bottom: 10px;
}

.tt-accsituation--operation {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: center;
    padding: 10px;
}
.seachbut {
	background-color: #FF3E1E;
    border-color: #FF3E1E;
}
.el-button--primary:hover{
    background-color: #ff654b;
    border-color: #ff654b;
}